a.MainMenu--logo {
  filter: invert(-1);
}

nav.MainMenu {
  background-color: white;
  color: black;
}

main.home_Main-container__8JeJY {
  background-color: white;
}

.styles-module_Container__MDcHn {
  background-color: white;
  color: black;
}

main#MainLayout {
  background-color: white;
  color: black;
}

button.Select-trigger.SchoolSelector {
  background-color: white;
  color: black;
}

section.BannersInfo {
  background-color: white;
  color: black;
}

.chatBubble_chatStart__afnHy .chatBubble_chatBubble__4736A {
  background-color: white;
  color: black;
}

form.aa-Form {
  background-color: transparent;
}

.Input_Input-scrollGradient__9lmoI {
  background-color: white;
  color: black;
}

textarea#downshift-\:r0\:-input {
  background-color: white;
  color: black;
}

.chatBubble_chatStart__afnHy .chatBubble_chatBubble__4736A * {
  color: black;
}
